<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android" 
    android:orientation="horizontal"
    android:layout_width="wrap_content" 
    android:layout_height="wrap_content">
      
     <LinearLayout 
        android:orientation="vertical"
        android:layout_width="wrap_content" 
        android:layout_height="wrap_content">
        
        <TextView
            android:id="@+id/nameID"
            android:layout_width="400dp" 
            android:layout_height="35dp"
            android:textSize="20dp"
            android:textStyle="bold"
            android:background="#FF0000"
			android:gravity="center_horizontal"
         />   
         <TextView
            android:id="@+id/accountNumber"
            android:layout_width="400dp" 
            android:layout_height="25dp"
			android:background="#E5E7E9"
	        android:textSize="17dp"
            android:textStyle="italic"
            android:gravity="center_horizontal"
         />
     </LinearLayout> 
    
</LinearLayout>

