<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android" 
    android:orientation="horizontal"
    android:layout_width="wrap_content" 
    android:layout_height="wrap_content">
      
     <LinearLayout 
        android:orientation="vertical"
        android:layout_width="wrap_content" 
        android:layout_height="wrap_content">
        
        <TextView
            android:id="@+id/nameID"
            android:layout_width="400dp" 
android:textColor="#FFFFFF"
android:gravity="center_horizontal"
android:textSize="20dp"
android:textStyle="bold"
            android:layout_height="35dp"
            android:background="#FF0000"
         />   
         <TextView
            android:id="@+id/emailID"
            android:background="#E5E7E9"
android:textSize="17dp"
android:textStyle="italic"
android:gravity="center_horizontal"
            android:layout_width="400dp" 
            android:layout_height="25dp"
         />

<TextView
            android:id="@+id/secID"
            android:background="#F2F3F4"
android:gravity="center_horizontal"
android:textStyle="italic"
android:textSize="15dp"
            android:layout_width="400dp" 
            android:layout_height="25dp"
         />   
        
        
     </LinearLayout> 
    
</LinearLayout>
